.expert-like {
    cursor: pointer;
}

.expert-like:hover {
    color: #f87aa0;
}

.expert-single .hn-grey-alt .hn-widget-body i {
    color: #f87aa0;
}

.expert-single .expert-avatar .panel {
    background: #f1f1f1;
}

.expert-single .expert-avatar {
    background: #f1f1f1;
}

.expert-single .expert-avatar .panel-body {
    /* background: #f5f5f5;*/
    /* padding-top: 10px !important;*/
    text-align: center;
    height: 140px;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    padding: 5px 0 !important;
}

.expert-single .expert-avatar .panel-footer {
    background: white;
}

.expert-single .expert-avatar img {
    width: 100%;
    max-width: 125px;
    max-height: 130px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    border: solid 5px white;
    margin: auto;
}

.expert-single .expert-avatar .panel-footer {
    text-align: center;
}

.expert-single .social-skill .page-header {
    margin-bottom: 10px;
}

.expert-single .page-header h2, .expert-single .page-header h4 {
    font-weight: 600;
    margin: 0 0 10px 0;
}

.expert-single .page-header h2 {
    font-size: 20px;
}

.expert-single label {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.expert-single .social-skill label {
    font-size: 16px;
}

.expert-single .social-skill h5 {
    margin: 0 0 10px 0;
}
