.expert-search {
    margin-bottom: 30px;
}

.jbp_pro_except {
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: white;
}

.jbp_pro_except .jbp_inside img {
    /*width: 100%;
    *//*	max-height:    240px;*//*
    border-bottom: solid 1px #ddd !important;
    height: auto;*/
}

.jbp_pro_except .jbp_inside > p {
    padding: 0 5px !important;
    margin: 5px 0 !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jbp_pro_except p a, .jbp_pro_except p a:visited {
    color: #000000 !important;
    text-decoration: none;
}

.jbp_pro_except p a:hover {
    color: #5e5e5e !important;
}

.jbp_pro_except .meta_holder {
    position: relative;
}

.meta_holder .jbp_pro_meta {
    position: absolute;
    top: 0;
    left: 0;
    background: #031f34;
    height: 100%;
    color: #f5f5f5;
    z-index: 2;
    overflow: hidden;
    width: 100%;
}

.meta_holder .jbp_pro_meta p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px 5px 0 5px;
}

.jbp_pro_except .meta_holder .glyphicon-eye-open {
    color: #ff8a56;
}

.jbp_pro_except .meta_holder img {
    /* height: 180px;
     width: 100%;
     text-align: center;*/
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    border-bottom: solid 1px #ddd;
}

.jbp-pro-stat {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.jbp-pro-stat i {
    font-size: 18px;
}

.jbp-pro-stat span {
    font-size: 18px;
    position: relative;
    top: -3px;
}

.jbp-pro-stat small {
    display: block;
    clear: both;
    position: relative;
    top: -8px;
    left: -2px;
}

.ellip {
    display: block;
    height: 110px;
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}

.ellip,
.ellip-line {
    position: relative;
    overflow: hidden;
}

.jbp_pro_except .text-shorten {
    text-align: center;
    width: 100%;
    height: 55%;
    padding: 10px 10px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 13px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.jbp-pro-list .expert-avatar {
    background: #C5C5C5;;
}

.jbp-pro-list .expert-avatar img {
    border-bottom: solid 1px #ddd;
    box-shadow: none;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
}

@media (min-width: 992px) {
    .jbp-pro-list .col-md-6 {
        width: 49.25%;
        margin-left: 1.5%;
    }

    .jbp-pro-list .col-md-3 {
        width: 23.87%;
        margin-left: 1.5%;
    }

    .jbp-pro-list .col-md-4 {
        width: 32.33%;
        margin-left: 1.5%;
    }

    .jbp-pro-list .col-md-12 .expert-avatar img {
        width: 100%;
    }

    .jbp-pro-list .col-md-6 .expert-avatar img {
        width: auto;
        height: 295px;
    }

    .jbp-pro-list .col-md-3 .expert-avatar img {
        width: auto;
        height: 142px;
    }

    .jbp-pro-list .col-md-4 .expert-avatar img {
        width: auto;
        height: 193px;
    }
}

.jbp-pro-stat .col-md-6 {
    width: 50%;
    margin: 0;
}


