.job-add-container {

}

.job-add-container form label {
	font-weight: 600;
	color:       #000;
}

.job-add-container form input, .job-add-container form textarea, .job-add-container form select {
	width: 100%;
}