.jbp-job-list .col-xs-1, .jbp-job-list .col-sm-1, .jbp-job-list .col-md-1, .jbp-job-list .col-lg-1, .jbp-job-list .col-xs-2, .jbp-job-list .col-sm-2, .jbp-job-list .col-md-2, .jbp-job-list .col-lg-2, .jbp-job-list .col-xs-3, .jbp-job-list .col-sm-3, .jbp-job-list .col-md-3, .jbp-job-list .col-lg-3, .jbp-job-list .col-xs-4, .jbp-job-list .col-sm-4, .jbp-job-list .col-md-4, .jbp-job-list .col-lg-4, .jbp-job-list .col-xs-5, .jbp-job-list .col-sm-5, .jbp-job-list .col-md-5, .jbp-job-list .col-lg-5, .jbp-job-list .col-xs-6, .jbp-job-list .col-sm-6, .jbp-job-list .col-md-6, .jbp-job-list .col-lg-6, .jbp-job-list .col-xs-7, .jbp-job-list .col-sm-7, .jbp-job-list .col-md-7, .jbp-job-list .col-lg-7, .jbp-job-list .col-xs-8, .jbp-job-list .col-sm-8, .jbp-job-list .col-md-8, .jbp-job-list .col-lg-8, .jbp-job-list .col-xs-9, .jbp-job-list .col-sm-9, .jbp-job-list .col-md-9, .jbp-job-list .col-lg-9, .jbp-job-list .col-xs-10, .jbp-job-list .col-sm-10, .jbp-job-list .col-md-10, .jbp-job-list .col-lg-10, .jbp-job-list .col-xs-11, .jbp-job-list .col-sm-11, .jbp-job-list .col-md-11, .jbp-job-list .col-lg-11, .jbp-job-list .col-xs-12, .jbp-job-list .col-sm-12, .jbp-job-list .col-md-12, .jbp-job-list .col-lg-12 {
    padding: 0 !important;
}

.job-search .row {
    /*padding: 0;
    margin:  0;*/
}

.job-search .col-xs-1, .job-search .col-sm-1, .job-search .col-md-1, .job-search .col-lg-1, .job-search .col-xs-2, .job-search .col-sm-2, .job-search .col-md-2, .job-search .col-lg-2, .job-search .col-xs-3, .job-search .col-sm-3, .job-search .col-md-3, .job-search .col-lg-3, .job-search .col-xs-4, .job-search .col-sm-4, .job-search .col-md-4, .job-search .col-lg-4, .job-search .col-xs-5, .job-search .col-sm-5, .job-search .col-md-5, .job-search .col-lg-5, .job-search .col-xs-6, .job-search .col-sm-6, .job-search .col-md-6, .job-search .col-lg-6, .job-search .col-xs-7, .job-search .col-sm-7, .job-search .col-md-7, .job-search .col-lg-7, .job-search .col-xs-8, .job-search .col-sm-8, .job-search .col-md-8, .job-search .col-lg-8, .job-search .col-xs-9, .job-search .col-sm-9, .job-search .col-md-9, .job-search .col-lg-9, .job-search .col-xs-10, .job-search .col-sm-10, .job-search .col-md-10, .job-search .col-lg-10, .job-search .col-xs-11, .job-search .col-sm-11, .job-search .col-md-11, .job-search .col-lg-11, .job-search .col-xs-12, .job-search .col-sm-12, .job-search .col-md-12, .job-search .col-lg-12 {
    padding: 0;
}

@media (min-width: 992px) {
    .hn-container .jbp-job-list .col-md-6 {
        width: 49%;
        margin-left: 2%;
    }

    .hn-container .jbp-job-list .row {
        padding: 0;
        margin: 0;
    }

    .hn-container .jbp-job-list .col-md-4 {
        width: 32%;
        margin-left: 2%;
    }

    .hn-container .jbp-job-list .col-md-3 {
        width: 24%;
        margin-left: 1%;
    }
}

.jbp-grey {
    border-top: 4px solid #b3b3b3;
}

.jbp-mint {
    border-top: 4px solid #38ba7a;
}

.jbp-rose {
    border-top: 4px solid #f16869;
}

.jbp-amber {
    border-top: 4px solid #fdb441;
}

.jbp-yellow {
    border-top: 4px solid #ffde1a;
}

.jbp-blue {
    border-top: 4px solid #3ebae8;
}

.jbp_job_item {
    margin: 0 0 2% 0;
}

.job-search {
    padding: 20px 0;
    margin-left: 0 !important;
    width: 100%;
    margin-bottom: 20px;

}

.job-search .job-query {
    width: 98%;
    height: 100%;
    line-height: 35px;
    padding: 0 0 0 10px !important;
    font-size: 15px;
}

.job-search .search-input {
    position: relative;
    height: 45px !important;
    padding: 0;
    margin-left: 0;
}

.job-search .search-btn {
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -22.5px;
}

.job-search .job-advance-search {
    display: block;
    margin: 0 auto;
}

.job_advanced_search_form {
    min-width: 300px;
    width: 100%;
}

@media (min-width: 992px) {
    .job_advanced_search_form {
        min-width: 400px;
        width: 100%;
    }
}

.job_advanced_search_form table tbody tr:first-child td {
    border: none;
}

.job_advanced_search_form table tbody tr > td {
    font-weight: 600;
}

.job_advanced_search_form label {
    font-weight: normal;
    font-size: small;
}

.jbp_job_except {
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-color: white;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.jbp_job_except .jbp_inside {
    width: 92%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding-top: 10px;
}

.jbp_job_except .jbp_inside .ellipsis {
    max-height: 140px;
    overflow-y: hidden;
}

.jbp_job_except h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.jbp_job_except h4 a, .jbp_job_except h4 a:visited {
    text-decoration: none;
    color: #21759b;
}

.jbp_terms {
    bottom: 50px;
    font-size: 13px;
}

.jbp_job_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.jbp_terms a, .jbp_terms a:visited {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.jbp_meta {
    bottom: 14px;
    font-size: 11px;
    font-weight: 600;
    border-top: 1px solid #dcdcdc;
    width: 100%;
    padding-top: 2px;
}

.jbp_meta div {
    /*	width: 49%;*/
}

.jbp_meta div.pull-left {
    max-width: 50%;
}

.jbp_meta div.pull-right {
    text-align: right;
    max-width: 50%;
}

.jbp_sort_search {
    margin-bottom: 20px;
    height: 66px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    border-left: 0;
}

.jbp_search_form {
    margin-left: 0 !important;
    position: relative;
    overflow: hidden;
    height: 66px;
    border-left: 1px solid #dcdcdc;
}

.jbp_search_form input[type="text"], .jbp_search_form input[type="text"]:focus {
    border-radius: 0;
    color: #000000;
    text-transform: uppercase;
    height: 100%;
    width: 77%;
    padding: 0 2%;
    margin: 0;
    position: absolute;
    border: 0;
    outline: 0;
    font-size: 14px;
}

.jbp_search_form button, .jbp_search_form button:focus {
    background: url("../image/icons/28px/28px_Search_Bright.svg") no-repeat center center #666666;
    width: 19%;
    height: 66px;
    display: inline-block;
    text-indent: -9999px;
    border: none;
    padding: 0;
    margin-left: 0;
    position: absolute;
    right: 0;
    border-radius: 0;
}

.jbp_sort_search .col-md-3, .jbp_sort_search .col-md-5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

.jbp_sort_search .col-md-3 a, .jbp_sort_search .col-md-5 a, .jbp_sort_search .col-md-3 a:visited, .jbp_sort_search .col-md-5 a:visited {
    color: #bc360a;
    text-decoration: none;
}

.jbp_sort_search .col-md-3 a.active, .jbp_sort_search .col-md-5 a.active {
    text-decoration: underline;
}

.jbp_sort_search .col-md-3:nth-child(2) {
    border-right: solid 1px #dcdcdc;
    border-left: solid 1px #dcdcdc;
}

.jbp_price_filter_form {
    margin: 10px 0 20px 0;
    height: 44px;
    position: relative;
}

.job-range {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -24px;
    color: #41cac0;
    font-weight: bold;
    font-family: Arial, 'Times New Roman', Tahoma;
    font-size: 15px;
}

.jbp_sliders {
    width: 78%;
    float: left;
    position: relative;
    height: 4px;
    top: 50%;
    margin-top: -2px;
}

.jbp_price-range {
    width: 100%;
    background: #f0f2f7 !important;
    height: 4px;
    position: relative;
}

.jbp_price-range .ui-slider-range {
    background: #41cac0 !important;
    background-position: 0 0;
    position: absolute;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 4px;
}

.jbp_price-range .ui-slider-handle {
    background: #fff !important;
    border: 3px solid #41cac0 !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    color: #1c94c4;
    outline: none;
    position: absolute;
    height: 12px;
    width: 12px;
    z-index: 2;
    top: 50%;
    margin-top: -6px;
}

.filter-by-price, .filter-by-price:focus {
    display: inline-block;
    float: right;
    width: 18%;
    height: 90% !important;
    position: absolute;
    right: 0;
    border: solid 1px #41cac0 !important;
    background: #41cac0 !important;
    color: white !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    font-size: 100% !important;
    font-weight: normal !important;
    padding: 0 !important;
}

.jbp-pagination {
    clear: both;
    font-size: 90%;
    line-height: 0.9em;
    padding: 0;
    position: relative;
    z-index: 99;
    float: right;
    font-size: 12px;
}

.jbp-pagination .current {
    background: #3ebae8;
    color: #fff;
    padding: 0.3em 0.5em 0.3em;
}

.jbp-pagination a:hover {
    background: #aaa;
    color: #fff;
}

.jbp-pagination span, .jbp-pagination a {
    background: transparent;
    color: #444;
    display: block;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
    padding: 0.3em 0.5em 0.3em;
    text-decoration: none;
    width: auto;
}
