.jbp-pro-list {

}

.jbp-pro-list .col-xs-1, .jbp-pro-list .col-sm-1, .jbp-pro-list .col-md-1, .jbp-pro-list .col-lg-1, .jbp-pro-list .col-xs-2, .jbp-pro-list .col-sm-2, .jbp-pro-list .col-md-2, .jbp-pro-list .col-lg-2, .jbp-pro-list .col-xs-3, .jbp-pro-list .col-sm-3, .jbp-pro-list .col-md-3, .jbp-pro-list .col-lg-3, .jbp-pro-list .col-xs-4, .jbp-pro-list .col-sm-4, .jbp-pro-list .col-md-4, .jbp-pro-list .col-lg-4, .jbp-pro-list .col-xs-5, .jbp-pro-list .col-sm-5, .jbp-pro-list .col-md-5, .jbp-pro-list .col-lg-5, .jbp-pro-list .col-xs-6, .jbp-pro-list .col-sm-6, .jbp-pro-list .col-md-6, .jbp-pro-list .col-lg-6, .jbp-pro-list .col-xs-7, .jbp-pro-list .col-sm-7, .jbp-pro-list .col-md-7, .jbp-pro-list .col-lg-7, .jbp-pro-list .col-xs-8, .jbp-pro-list .col-sm-8, .jbp-pro-list .col-md-8, .jbp-pro-list .col-lg-8, .jbp-pro-list .col-xs-9, .jbp-pro-list .col-sm-9, .jbp-pro-list .col-md-9, .jbp-pro-list .col-lg-9, .jbp-pro-list .col-xs-10, .jbp-pro-list .col-sm-10, .jbp-pro-list .col-md-10, .jbp-pro-list .col-lg-10, .jbp-pro-list .col-xs-11, .jbp-pro-list .col-sm-11, .jbp-pro-list .col-md-11, .jbp-pro-list .col-lg-11, .jbp-pro-list .col-xs-12, .jbp-pro-list .col-sm-12, .jbp-pro-list .col-md-12, .jbp-pro-list .col-lg-12 {
	padding: 0 !important;
}

.jbp-pro-list .col-md-4, .jbp-pro-list .col-lg-4 {
	width:       32%;
	margin-left: 2%;
}

.jbp_pro_except {
	border:           1px solid #ddd;
	color:            #333;
	font-size:        14px;
	margin-bottom:    10px;
	background-color: white;
}

.jbp_pro_except .jbp_inside img {
	width:         100%;
	/*	max-height:    240px;*/
	border-bottom: solid 1px #ddd !important;
	height:        auto;
}

.jbp_pro_except .jbp_inside > p {
	padding:       0 5px !important;
	margin:        5px 0 !important;
	text-align:    center;
	white-space:   nowrap;
	overflow:      hidden;
	text-overflow: ellipsis;
}

.jbp_pro_except p a, .jbp_pro_except p a:visited {
	color:           #000000 !important;
	text-decoration: none;
}

.jbp_pro_except p a:hover {
	color: #5e5e5e !important;
}

.jbp_pro_except .meta_holder {
	position: relative;
}

.meta_holder .jbp_pro_meta {
	position:   absolute;
	top:        0;
	left:       0;
	background: #031f34;
	height:     100%;
	color:      #f5f5f5;
	z-index:    2;
	overflow:   hidden;
	width:      100%;
}

.meta_holder .jbp_pro_meta p {
	overflow:      hidden;
	text-overflow: ellipsis;
	text-align:    center;
	padding:       5px 5px 0 5px;
}

.jbp_pro_except .meta_holder .glyphicon-eye-open {
	color: #ff8a56;
}

.pro-advance-search {
	display: block !important;
	margin:  0 auto;
}
