.jbp_pro_single .jbp-sidebar {

}

.jbp_pro_single .jbp-main-content {

}

.jbp_pro_single .jbp-main-content .page-header {
    margin-top: 0;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 0;
}

.jbp_pro_single .jbp-main-content .page-header h2 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.jbp_pro_single .jbp-main-content .page-header h4 {
    font-size: 18px;
}

.jbp_pro_single .jbo_pro_social .panel-body, .jbp_pro_single .jbo_pro_social .panel-body {
    padding: 0;
}

.jbp_pro_single .jbp_skill_meta {
    padding: 0 10px 0 10px;;
}

.jbp_pro_single label {
    font-weight: 600;
}

.jbp_pro_single .row p {
    margin-bottom: 0;
}

.jbp_pro_single .row.full {
    margin-top: 10px;
}

.jbp_pro_single .jbp_pro_full_name {
    text-align: left;
}

.jbp_pro_single .row.full label, .jbp_pro_single .row-fluid.full label {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ddd;
    font-weight: 600;
    font-size: 16px;
}

.jbp_pro_single .row.full {
    text-align: justify;
}

.pro-single-content {
    padding-left: 10px;
}

.pro-tag-line {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.jbp-pro-stat {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.jbp-pro-stat span {
    font-size: 18px;
    position: relative;
    top: -3px;
}

.jbp-pro-stat small {
    display: block;
    clear: both;
    position: relative;
    top: -8px;
    left: -2px;
}

/*
.glyphicon-heart {
    color: red;
    font-size: 20px;
}

.glyphicon-eye-open {
    color: #008000;
    font-size: 20px;
}*/
.hn-container .pro-single-content ul {
    margin-left: 0;
    padding-left: 0;
}

.hn-container .pro-single-content .nav-tabs {
    overflow: hidden;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: -1px;
    margin-left: 0;
}

.hn-container .pro-single-content .nav-tabs li {
    margin-left: 0;
}

.hn-container .pro-single-content .nav-tabs li a {
    text-decoration: none;
}

.hn-container .pro-single-content .nav-tabs li.active {
    background-color: white;
}

.hn-container .pro-single-content .nav-tabs li.active:after {
    border-bottom: solid 2px transparent;
    position: absolute;
    content: "";
}

.hn-container .pro-single-content .tab-content {
    margin-bottom: 20px;
}

.hn-container .pro-single-content .tab-content .tab-pane {
    border: solid 1px #ddd;
    padding: 15px;
}

.hn-container .pro-single-content .tab-content .tab-pane.active {
    /*border-top: 0;*/
}

.hn-container .pro-single-content .col-md-12, .hn-container .pro-single-content .col-md-6 {
    box-sizing: border-box;
}