.hn-media-file, .hn-sample-file {
    /*border: 1px solid #e7e7e7;*/
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    width: 182px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 4px;
}

.hn-sample-file {
    width: 100%;
}

.hn-media-file:hover {
    /*border: solid 1px black;*/
}

.file-uploader-form input, .file-uploader-form textarea {
    width: 100%;
    display: block;
}

.file-uploader-form button {
    margin-right: 5px;
    margin-top: 5px;
}

.hn-media-file .hn-file-icon {
    font-size: 7em;
    text-align: center;
    padding: 26px 0;
}

.hn-sample-file .hn-file-icon {
    height: 70%;
    text-align: center;
}

.hn-sample-file .hn-file-icon i {
    font-size: 4em;
    position: relative;
    top: 50%;
}

.hn-media-file .hn-file-icon i, .hn-sample-file .hn-file-icon i {
    color: white;
}

.hn-media-file .hn-file-meta {
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
}

.hn-media-file .hn-file-meta h5 {
    font-weight: bold;
    color: #428bca;
    margin: 0;
    padding: 0;
    height: 30px;
    display: block;
    font-size: 13px;
    line-height: 14px;
}

.hn-sample-file .hn-file-meta {
    text-align: center;
    margin-top: 4px;
    padding: 0 5px;
}

.hn-sample-file .hn-file-meta h5 {
    font-weight: bold;
    color: #428bca;
    margin: 0;
    padding: 0;
    height: 25px;
    display: block;
}

.hn-media-file .hn-actions {
    position: absolute !important;
    top: 5px;
    right: 5px
}

.hn-media-file .hn-actions button:first-child {
    margin-right: 2px;
}

.hn-sample-files .hn-widget .hn-widget-footer span {
    font-size: 13px;
    top: 0;
    line-height: 13px;
}

.hn-sample-files .hn-widget {
    position: relative;
}

.hn-sample-files .hn-widget a {
    position: absolute;
    color: white;
    top: 0;
    right: 5px;
}

.hn-sample-files .hn-widget.dark i {
    color: white;
}

.hn-sample-files .sample-pop {

}

.hn-sample-files .sample-pop ul {
    margin-left: 0;
}

.hn-sample-files .sample-pop ul li {
    margin-left: 0;
    font-weight: 600;
}

.hn-sample-files .sample-pop img {
    box-shadow: none;
    display: block;
    margin: 0 auto;
}

.upload-item {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.upload-item strong {
    font-weight: 700;
}