.hn-container .jobs-contact label {
    font-weight: 600;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.hn-container .jobs-contact textarea {
    box-sizing: border-box;
    height: 75px;
}