.hn-container .search-form {

}

.hn-container .search-form label {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: block;
}

.hn-container .search-form input, .hn-container .search-form select {
    width: 100%;
    margin-bottom: 10px;
}

.hn-container .search-form input[type="radio"] {
    width: auto;
    display: inline;
}

.hn-container .jbp-recent-job-widget .jbp-job-widget {
    background: white;
    padding: 5px;
}

.hn-container .jbp-recent-job-widget .jbp-job-widget {
    color: #000000;
    margin-bottom: 10px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.hn-container .jbp-recent-job-widget .jbp-job-widget h4 a {
    font-size: 11pt;
    font-weight: bold;
}

.hn-container .jbp-recent-job-widget .jbp-job-widget .jbp-recent-job-cat {
    font-size: 9pt;
    display: block;
    margin-top: 5px;
}