.jbp-message-inbox.dark i {
    color: #58595B !important;
}

.jbp-message {
    font-family: "Open Sans", sans-serif;
    padding: 0 10px;
}

.jbp-message hr {
    margin: 0 0 10px 0;
}

.jbp-message #message-list {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
}

#message_history {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.jbp-message .list-group {
    margin-bottom: 0;
}

.jbp-message .list-group-item {
    position: relative;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.jbp-message .list-group-item:hover, .jbp-message .list-group-item.active, .jbp-message .list-group-item.active:hover {
    background-color: #F5F5F5;
    cursor: pointer;
    border: solid 1px #ddd;
    z-index: 0;
}

.jbp-message .list-group-item img {
    box-shadow: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 85%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #ddd;
    display: block;

}

.jbp-message h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    display: inline;
    color: #222;
    font-family: "Open Sans", sans-serif;
}

.jbp-message .list-group-item.unread h4 {
    font-weight: 600;
}

.jbp-message .list-group-item .label-default.label-white {
    background-color: white;
    color: #222;
    border: solid 1px #222;
    position: relative;
    top: 0;
    right: 0;
    font-size: 10px;
}

.jbp-message .list-group-item.unread .label-default.label-white {
    background-color: #000000;
    color: white;
}

.jbp-message .list-group-item p {
    font-size: 12px;
    color: #a8a8a8;
    padding: 0 10px;
    margin: 30px 0 0 0;
    display: block;
}

.jbp-message .inbox-message-display {
    border: solid 1px #ddd;
}

.jbp-message .inbox-message-display .inbox-message-display-header {
    padding: 10px 10px 0 10px
}

.jbp-message .inbox-message-display .inbox-message-display-header p {
    font-size: 13px;
    margin-bottom: 5px;
}

.jbp-message .inbox-message-display .inbox-message-display-header p strong {
    font-weight: 600;
}

.jbp-message .inbox-message-display .inbox-message-display-header p strong.subject {
    color: #686868;

}

.jbp-message .inbox-message-display .inbox-message-display-body {
    padding: 0 10px;
    font-size: 14px;
}

.jbp-message .inbox-message-display .inbox-message-display-footer {
    background-color: #F2F2F2;
}

.message-toolbar {
    margin-bottom: 10px;
}

.message-toolbar .badge {
    font-weight: 600;
    font-size: 10px;
    margin-left: 2px;
}

.inbox-message-display-footer {
    padding: 10px;
}

.inbox-message-display-footer .message-attachment a {
    color: #222;
    font-size: 12px;
    float: left
}

#reply-form .file-view-port {
    max-height: 300px;
    overflow-y: scroll;
}